html,body {
    font-family:'NanumSquare';
    scroll-behavior: smooth;
/* cursor: none; */
}
a{
/* cursor: none; */
}

body {
    width: 100vw;
}




body .header_title {
    position: fixed;
    left: 5%;
    top: 40px;
    z-index: 9999;
}
@keyframes head_title {
    0%{
        transform: scale(1.2);
    }
}
@keyframes nav_hover {
    0%{
        transform:rotate(360deg) scale(1.4) ;
    }
}
body .header_title a {
    border-radius:10px;
    font-size: 2rem;
    padding: 10px 20px;
    color: #fff;
}
.left_nav {
    top: 40px;
    z-index: 99989;
    position: fixed; 
    right: 100px;
}
.left_nav .nav_box{
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
}
.left_nav a {
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    margin-right: 40px;
    position: relative;
    /* overflow: hidden; */
}
.left_nav a::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    width: 0; height: 3px;
    display: inline-block;
    background: #a5a5a5;
    transition: 0.5s ease-in-out;
}
.left_nav a:hover::after {
    width: 100%;
}

.left_nav a img{
width: 70px;
}
.start_animation {
/* display: none; */
overflow: hidden;
z-index: 9998789;
background: #000;
position: fixed;
width: 100%;
height: 100vh;
background-size: cover;
background-position: center;
transition: transform 1s ease-in-out;
}

.first_video{
position: relative;
width: 100%;
}

.text_container {
overflow: hidden;
width:100%;
position: relative;
left: 20%; 
top: 50%; 
}

.start_animation .first_span {
border: 3px solid #000;
background: #000;
border-radius: 20px;
font-weight: bold;
color: #fff;
text-align: center;
font-size: 3rem;
position: fixed;
top: 55%; 
left: 8%; 
white-space: nowrap;
padding: 7px 5px;
animation: click 2s infinite alternate-reverse;
}
@keyframes click {
0%{transform: translateY(-10%);}
100%{transform: translateY(30%);}
}

main .bg {
}
/* 메인 */
main .introduction {
width: 100vw;
text-align: center;
background:#000;
background-position: center;
background-size: cover;
}
main .introduction .character {
    padding-top: 10px;
}
main .introduction .character span {
    color: #fff;
padding-bottom: 10px;
display: inline-block;
padding-top: 30px;
font-size: 2rem;
font-weight: bold;
}

main .title {
font-size: 3rem;
color: #000
}
main .introduction .contents {
    display: flex; justify-content: center;
    padding-top: 100px;
}
main .introduction .contents .photo {}
main .introduction .contents .photo img {
max-width: 300px; border-radius: 10%; margin-right: 40px;
}
main .introduction .contents .my_test {
padding-top: 20px;
}
main .introduction .contents .my_test dl {
display: flex; flex-flow: row wrap; width: 500px;
}
main .introduction .contents .my_test dl dt{
width: 40%; font-size: 2rem; padding-bottom: 30px;
color: #fff
}
main .introduction .contents .my_test dl dd {
width: 60%; font-size: 2rem;
color: #fff;
}

main .introduction .contents .my_test dl dt:nth-of-type(5){
    font-size: 1.2rem; width: 100%;
}
main .introduction .contents .my_test dl dd:nth-of-type(5){
    font-size: 1rem; width: 100%;
}  


.circle{
z-index: 99999;
width: 50px; height: 50px;
border: 2px solid #a5a5a5;
border-radius: 50%;
background-size: cover;
background-position: bottom;
position: fixed;  
transform: translate(-50%,-50%);
pointer-events: none;
transition: 0.1s;
} 

/*  skill */




main .skill {
    background-size: cover;
    background:#FBFBF7;
    background-position: center;
    padding-top: 70px;
    text-align: center;
}
main .skill .title{
    margin-bottom: 40px;
}
main .skill .text_box{
    padding-bottom: 50px;
    width: 400px;
    margin: 0 auto;
    border-radius: 21px;
}
main .skill .img  {
justify-content: center;
display: flex; flex-flow: row wrap;
width: 600px;  margin: 0 auto;
/* padding-top: 60px; */
}
main .skill .img .contents {
    width: calc(25% );
}
main .skill  p {
    padding-top: 40px;
    font-weight: 700;
    font-size: 1.65rem;
}
main .skill img {
width: 70px; height: 70px;
border-radius: 20%;
margin-bottom: 15px;
transform: scale(0.9);
transition: 0.7s;
}

main .skill .text_box img {
    width: 100px; height: 100px;
}
main .skill img:hover{
    transform: scale(1.1);
    transition: 0.7s;
}

/* play_map */
main .web_project{
background: linear-gradient(to right, #f1ecec, #FBFBF7);
width: 100vw; text-align: center ;
justify-content: center;
overflow: hidden;
position: relative;
animation:background1 20s linear infinite alternate-reverse ;
}
main .web_project .title {
padding-bottom: 100px;
}
main .web_project .benner_main {
    position: relative;
}

.benner_main .contents_box {

}

main .web_project .benner_img img {
width: 900px; margin-right: 50px;
}
main .web_project .benner_text {
    display: flex;
    flex-flow: column;
    width: 300px;
    border: 3px solid #000;
    padding: 20px; 
    border-radius: 20px;
}
main .web_project  .show_text {
    border-radius: 10px;
    background: #fff9d6;
    padding: 20px;
    position: absolute;right: 700px; top: 0px;
}
main .web_project  .show_text img {
    position: absolute; left: 20px;
}
main .web_project  .show_text  dl {
    padding-top: 40px;
    width: 500px; display: flex;  flex-flow: row wrap; 
    align-items: center; 
}
main .web_project  .show_text  dl  a {
    padding: 0; font-size: 0.875rem;
}
main .web_project .show_text  dl dt{
    width: 45%; padding-bottom: 20px;}
main .web_project .show_text  dl dd{width: 45%; padding-bottom: 20px;}
main .web_project .benner_text h1 {font-size: 1.75rem;}
main .web_project .benner_text div {
    font-size: 1.25rem; padding: 10px; 
    border-bottom: 1px solid #000;
    display: flex; flex-flow: row wrap; justify-content: space-around;
}
main .web_project .benner_text span {
    font-size: 1.25rem;padding: 10px; 
}
main .web_project .benner_text .final {
    font-size: 1.25rem;padding: 10px; 
    transform: scale(0.9); transition: 0.5s;
}
main .web_project .benner_text .show_more{
    font-size: 1.15rem;color: #a5a5a5;
}
main .web_project .benner_text .show_more:hover{
    color: #000;
    
}
main .web_project .benner_text .final a:hover{
    transform: scale(1.2); transition: 0.5s;
}
main .web_project .benner_contents {
    align-items: center;
    display: flex; justify-content: center;
}


main .last_contents {
    background: #000; text-align: center;
background-size: cover;
background-position: center ;
position: relative;
}
main .last_contents h2 {
    color: #fff;
}
main .last_contents .tell{
display: flex; flex-flow: column;
padding: 80px 0;
}
main .last_contents .tell img {
    margin: 0 auto;
    width: 200px;
}
main .last_contents .tell span {
    font-size: 2rem;
    color: #fff;
    padding-bottom: 20px;
}
main .last_contents .tell .qrcode {
    border: 1px solid #fff;
    display: flex; flex-flow: column;
    margin: 0 auto;
    width: 300px;
    padding: 20px 0;
    border-radius: 20px;
}
main .last_contents h2 {
font-size: 4rem; padding-top: 250px;
}

main .last_contents p {
    font-size: 3rem;
    width: 90%;
    height: 50px;
    position: absolute;
    background-image: url(../images/thank_you.png);
    color: #000;
    top:150px;
    left: 100px;
    animation: loop 50s infinite linear;
}


@keyframes loop {
    0%{background-position-x:0}
    100%{background-position-x:5000px}
}
main .last_contents form {
    margin:  0 auto;
    width: 700px;
    display: flex; justify-content: center;
    flex-flow: row wrap;
}
main .last_contents label {
    color: #fff; font-size: 1.5rem;
    padding-right: 10px;
}
main .last_contents input {
    border-radius: 5px;
    display: flex;
    padding: 10px;
    background: #fff;
    margin-right: 30px;
}
main .last_contents .message_box{
    padding-top: 30px;
    align-items: center;
    display: flex; flex-flow: column nowrap;
}
main .last_contents input:nth-of-type(2){
    margin: 0;
}
main .last_contents .message_box input{
    margin: 0 auto;
    /* padding: 140px; */
    width: 480px;
    height: 140px;
    margin: 0;
}